.task_area
{
    position: absolute;
    left: 25%;
    right: 30%;
    top: 20%;
    width:40%;
    text-align: center;
    font-size: 120%;
    border-style: groove;
    border-color: rgb(18, 3, 58);
    border-radius: 25%;
    padding: 3%;
    background-color: rgb(18, 3, 58);
    color:white;
    
}

.upload
{
   text-align: center;
    border-style: groove;
    border-color: rgb(18, 3, 58);
    border-radius: 100px;
    padding: 1%;
    font-size: 120%;
    background-color: rgb(18, 3, 58);
}
